
/* Title (Add Book) */
.title_label {
    -fx-font-family: "Impact";
    -fx-font-weight: Bold;
    -fx-text-fill: #194f4f;
}

/* Root Background */
.anchor-pane {
    -fx-background-color: gray;
}

/* Tabs (Search, Add Manually) */
.tab {
    -fx-background-color: none;
    -fx-font-family: "Impact";
    -fx-font-weight: Bold;
}

/* Tab Sizing */
.tab-pane:top {
    -fx-tab-min-height: 40;
    -fx-font-size: 22;
}

/* Tab Background */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: none;
}

/* Labels within Tabs */
.manualAdd_labels {
    -fx-font-family: "Impact";
    -fx-text-fill: #247373;
    -fx-font-size: 20;
}

/* TextFields in Tab Contents */
.tab-pane:top .tab-content-area .text-field {
    -fx-font-family: Amaranth;
    -fx-font-weight: Bold;
    -fx-font-size: 16;
}

/* Choice Boxes */
.choice-box {
    -fx-font-weight: Bold;
    -fx-font-fill: black;
    -fx-text-fill: black;
    -fx-font-size: 16;
}

/* addImage/saveBook buttons */
.button {
    -fx-font-family: "Impact";
    -fx-font-weight: Bold;
    -fx-text-fill: #194f4f;
    -fx-font-size: 16;
}

/* Scroll Bar */
.scroll-bar:vertical {
    -fx-font-size: 12;
    -fx-background-color: none;
    -fx-padding: 2em;
}

/* Scroll Bar Thumb */
.scroll-bar:vertical .thumb {
    -fx-font-size: 12;
    -fx-background-color : #247373;
    -fx-background-radius : 2em;
}

/* Date Picker Window Sizing */
.date-picker {
    -fx-font-size: 12;
}