
.heading {
    -fx-font-family: "Impact";
    -fx-font-size: 30;
}

.sub_heading {
    -fx-font-weight: Bold;
    -fx-font-size: 20;
}

.text_field {
    -fx-font-size: 16;
}

.button {
    -fx-font-family: "Impact";
    -fx-font-size: 16;
    -fx-text-fill: #247373;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
}
