
/* Logo Properties */

.logo-container {
    -fx-background-color: #247373;
}

.logo-label {
    -fx-fill: white;
    -fx-font-weight: Bold;
    -fx-font-size: 50;
}

.logo {
    -fx-fill: white;
}


/* Log-in Properties */

.login-container {
    -fx-background-color: white;
}

.login-title {
    -fx-font-size: 36;
    -fx-font-family: "Impact";
}

.login-headings {
    -fx-spacing: 1.3em;
    -fx-font-size: 16;
    -fx-font-weight: Bold;
}

.input_field {
    -fx-background-color: #EEEEEE;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.login-buttons {
    -fx-pref-height: 40;
    -fx-pref-width: 120;
    -fx-text-size: 14;
    -fx-text-fill: white;
    -fx-font-weight: Bold;
    -fx-background-color: #247373;
}

.login_form_container Button:hover {
    -fx-cursor: hand;
}

.error_label {
    -fx-text-fill: red;
}