
.label {
    -fx-font-family: "Impact";
    -fx-font-size: 20;
}

.text-field {
    -fx-font-weight: Bold;
    -fx-font-size: 16;
}

.button {
    -fx-font-family: "Impact";
    -fx-font-weight: Bold;
    -fx-font-size: 16;
    -fx-text-fill: #247373;
}
