
.title {
    -fx-font-family: "Impact";
    -fx-font-size: 40;
    -fx-text-fill: #247373;
}

.sub-heading {
    -fx-font-family: "Impact";
    -fx-font-size: 20;
}

.text-field {
    -fx-font-size: 16;
    -fx-pref-width: 350;
}

.button {
    -fx-font-family: "Impact";
    -fx-font-size: 16;
    -fx-text-fill: #247373;
    -fx-min-width: 100;
    -fx-min-height: 35;
}
