/* title container, text and icon */
.menu_title_container {
    -fx-alignment: top_center;
     -fx-background-color: none;
     -fx-background-radius: 20 20 0 0;
     -fx-padding: 8;
}

/* Logo */
.menu_title_container FontAwesomeIconView {
    -fx-fill: #247373;
}

/* Logo Text */
.menu_title_container Text {
    -fx-fill: #247373;
    -fx-font-size: 2.5em;
    -fx-font-family: "Impact";
}

.menu_container {
    -fx-alignment: center;
    -fx-background-color: none;
}

.logo_container {
    -fx-alignment: center;
    -fx-background-color: none;
    -fx-background-radius: 10;
}


/*Main Menu Buttons */

.menu_container {
    -fx-spacing: 20;
    -fx-padding: 10 10 10 10;
}

.menu_container Button {
    -fx-background-color: white;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.5em;
    -fx-border-color: #247373;
    -fx-pref-width: 140;
    -fx-alignment: center;
    -fx-font-size: 14;
    -fx-pref-height: 45;;
    -fx-font-weight: Bold;
}

.menu_container Button:hover {
    -fx-cursor: hand;
}